[submodule "extern/json"]
	path = extern/json
	url = https://github.com/SimonMaracine/json
	branch = release/3.10.3
[submodule "extern/Rain-Net"]
	path = extern/Rain-Net
	url = https://github.com/SimonMaracine/Rain-Net
	branch = stable
[submodule "client/extern/tiny-gui-base"]
	path = client/extern/tiny-gui-base
	url = https://github.com/SimonMaracine/tiny-gui-base
	branch = stable
